.navbar{
    border-radius: 20px;
    padding: 4px 10px;
    border : solid 1px;
    display: flex;
    align-items: left;
    justify-content: left;
    top: 10px;
}
.nav-list{
    display: flex;
    justify-content: center;
}
.nav-list li{
    list-style: none;
    padding: 10px 7px;
}
.background{
    background-color: rgb(140, 154, 157);
    background-blend-mode: darken;
    background-size: cover;
}
.cadre{
    margin: auto;
    background-color: rgb(153, 166, 178);
    width: 70%;
    padding: 32px;
    border-radius: 5px;
    position: relative;
}