@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("./img/fond.jpg");
}
.navbar{
    border-radius: 10%;
    padding: 4px 10px;
    top: 10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
}
.nav-list li{
    list-style: none;
    padding: 10px 7px;
}
.background{
    background-blend-mode: darken;
    background-size: cover;
}
.cadre{
    margin: auto;
    background-color: #e7e7e7;
    width: 90%;
    padding: 32px;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
input {
    border-radius: 10px;
    padding: 10px 50px;
    border : solid 1px rgb(50, 48, 48);
    margin-right: 400px;
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 25px;
    text-decoration: none;
    color: #424340;
    background-color: #CFC7BC;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
 .btn2 {
  display: inline-block;
  padding: 10px 50px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(236, 240, 243);
  transition: background-color 0.3s ease;
  margin-right: 10px;
  border-width: 1px;
  border-color: #9E9F8D;
}
  .btn2:hover{
    background-color: rgba(163, 170, 168, 0.096);
}
  .btn:hover {
    background-color: rgba(245, 253, 255, 0);
  }
  .search-container {
    margin-left: auto;
    justify-content: flex-end;
    align-items: right;
  }
  .recherche {
    display: none;
  }
  .resultats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  .panier {
  display: flex;
  flex-wrap: wrap;
}

  .panier li {
  flex: 25%;
  margin: 10px;
  list-style: none;
}
h1{
  text-align: center;
}
.cadre2{
    margin: auto;
    background-color: #f0f0f0;
    width: 90%;
    padding: 32px;
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.book-result{
  flex-wrap: wrap;
  margin: 10px;
}
input[type="image"] {
  border: none;
  background-image: url("./img/loupe.png");
  width: 20px;
  height: 20px;
  float: right;
  background-repeat: no-repeat;
  margin-top: -20px ;
  padding-right: 550px;
}
.supprimer {
  margin-right: 40%;
}
.book {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
}

.book-cover {
  margin-right: 10px;
}

.book-cover img {
  height: auto;
}

.book-info {
  flex: 0.2;
}

.book-info h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  font-size: 15px;
  margin-right: 400px;
  font-size: large;
}

.book-info p {
  font-size: 15px;
  list-style: none;
  text-align: left;

  margin-right: auto;
}
.description {
  white-space: pre-line;
}
.book-info input {
  position: relative;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  background-color: rgb(236, 240, 243);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-link {
  text-decoration: none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.5rem;
}
.dropdown-link:hover {
  color: #7a7979;
}
.hidden {
  display: none;
}
.btn3 {
  display: inline-block;
  padding: 10px 41px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(236, 240, 243);
  transition: background-color 0.3s ease;
  border-width: 0.2px;
  border-color: #ffffff;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}
.title {
  color: rgb(19, 19, 230);
}
.titre {
  text-decoration: none;
  color: inherit;
}
.search-container {
  position: relative;
  width: max-content;
}

.search-container input {
  border-radius: 10px;
  padding: 10px 80px;
  border : solid 1px rgb(50, 48, 48);
  margin-right: 150px;
  margin-left: 200px;
}

.search-container input[type="image"] {
  position: absolute;
  right: -65px;
  top: 105%;
  transform: translateY(-50%);
  border: none;
  background-image: url("./img/loupe.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}