@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F8FBF1;
}
.navbar{
    border-radius: 10%;
    padding: 4px 10px;
    top: 10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
}
.nav-list li{
    list-style: none;
    padding: 10px 7px;
}
.background{
    background-color: #969587;
    background-blend-mode: darken;
    background-size: cover;
}
.cadre{
    margin: auto;
    background-color: #9E9F8D;
    width: 80%;
    padding: 32px;
    position: relative;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
input {
    border-radius: 10px;
    padding: 10px 10px;
    border : solid 1px rgb(50, 48, 48);
    margin-right: 30px;
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 25px;
    text-decoration: none;
    color: #424340;
    background-color: #CFC7BC;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
 .btn2 {
  display: inline-block;
  padding: 10px 50px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(236, 240, 243);
  transition: background-color 0.3s ease;
  margin-right: 10px;
  border-width: 1px;
  border-color: #9E9F8D;
}
  .btn2:hover{
    background-color: rgba(163, 170, 168, 0.096);
}
  .btn:hover {
    background-color: rgba(245, 253, 255, 0);
  }
  .search-container {
    margin-left: auto;
    justify-content: flex-end;
    align-items: right;
  }
  .recherche {
    display: none;
  }
  .resultats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}
  .panier {
  display: flex;
  flex-wrap: wrap;
}

  .panier li {
  flex: 25%;
  margin: 10px;
  list-style: none;
}
h1{
  text-align: center;
}
.cadre2{
  margin: auto;
    background-color: #CFC7BC;
    width: 80%;
    padding: 32px;
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.book-result{
  flex-wrap: wrap;
  margin: 10px;
}
input[type="image"] {
  border: none;
  background-image: url("./img/loupe.png");
  width: 8px;
  height: 8px;
  float: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  transform: translateX(-240%);
  margin-top: 1.5%;
}
.supprimer {
  margin-right: 40%;
}
